/* src/components/Sidebar/Sidebar.css */

.sidebar {
    width: 18%;
    min-height: 100vh;
    border-right: 1.5px solid #a9a9a9;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.1);
}

.sidebar-options {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 100%;
    align-items: flex-start;
}

.sidebar-option {
    display: flex;
    align-items: center;
    gap: 15px;
    padding: 12px 20px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 6px;
}
.sidebar-option.active{
    background-color: #fff0ed;
    border-color: tomato;
}

.sidebar-option:hover {
    background-color: #f1f1f1;
    color: #3f51b5;
}

.sidebar-option img {
    width: 24px;
    height: 24px;
    filter: grayscale(100%);
    transition: all 0.3s ease;
}

.sidebar-option:hover img {
    filter: grayscale(0%);
    transform: scale(1.1);
}

.sidebar-option p {
    margin: 0;
    font-weight: 500;
}

@media (max-width:900px){
    .sidebar-option p{
        display: none;
    }
}