/* Recommended Food Header */
.recommended-food-header {
    text-align: center;
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
    color: #333;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
  }
  
  .recommended-food-header span {
    color: #ff9900;
  }
  
  /* Recommended Food Container */
  .recommended-food-container {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    padding: 10px;
    gap: 10px;
  }
  
  /* Recommended Food Item */
  .recommended-food-item {
    width: 150px;
    height: 200px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .recommended-food-item:hover {
    transform: scale(1.1);
  }
  
  /* No Recommended Food Message */
  .no-recommended-food-message {
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
    color: #666;
    animation: blink 2s infinite;
  }
  
  @keyframes blink {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
  }
  