.App {
  text-align: center;
  max-width: 100%; /* Ensure the app container doesn't exceed the viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  max-width: 100%; /* Ensure the header doesn't exceed the viewport width */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Additional global styles to prevent horizontal overflow */
body, html, #root {
  width: 100%;
  overflow-x: hidden;
}